
<!DOCTYPE html>
<html>
<head>
<title>Add Movie</title>
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/search.js"></script>
</head>
<body>

<h1>Add Movie Review</h1>

<input id="movieInput" placeholder="Search movie...">
<div id="results"></div>

<form method="POST">
<input type="hidden" name="title" id="title">
<input type="hidden" name="poster" id="poster">

<textarea name="review" placeholder="Your review"></textarea>

<button type="submit">Publish</button>
</form>

</body>
</html>
